html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Source Serif Pro";
}

.section {
  padding: 2rem 0;
  border-bottom: 1px solid #555;
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-title,
.section-p,
.contact-line {
  margin: 1rem 0;
}

section a,
.footer {
  color: black;
}

section a:hover,
.footer:hover {
  text-decoration: none;
  color: #555;
}

/*header section */

.header-div {
  margin-top: 100px;
}

.card-img {
  min-height: 250px;
  filter: grayscale(100%) brightness(60%);
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.show-sm {
  display: none;
}

/*services section */

.service-card {
  transform: scale(1);
  transition: 0.5s ease-in-out;
  max-width: 400px;
}

.service-card:hover {
  animation: pulse 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.service-card img {
  height: 320px;
}

/*contact section*/

.contact-p {
  margin: 0px;
}

/*about section*/

.about-div {
  display: flex;
  justify-content: space-evenly;
}

.about-p {
  width: 30vw;
  align-self: center;
}

/*media query xs screen*/
@media (max-width: 992px) {
  .section,
  .about-p,
  body {
    width: 100%;
    overflow-x: hidden;
    padding: 5px;
  }
  body,
  .about-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-card {
    width: 90vw;
    margin: 10px;
  }
  .service-card:hover {
    animation: none;
  }
  .show-lg {
    display: none;
  }
  .show-sm {
    display: inline-block;
    padding: 2rem;
    border-bottom: 1px solid black;
  }
}

/*media query md screen*/
@media (max-width 992px) {
  .service-card {
    width: 40vw;
  }
}

/*media query xl screen*/
@media (min-width: 2100px) {
  .section,
  .header {
    width: 60vw;
  }

  .header {
    margin: 0 auto;
  }
}
